absl-py==2.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.7.0
astunparse==1.6.3
asyncio==3.4.3
attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
clusterops==0.1.6
dataclasses-json==0.6.7
dill==0.3.9
distro==1.9.0
docstring_parser==0.16
filelock==3.16.1
flatbuffers==24.12.23
frozenlist==1.5.0
fsspec==2024.12.0
gast==0.6.0
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.27.0
idna==3.10
importlib_metadata==8.5.0
Jinja2==3.1.5
jiter==0.8.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.7.0
langchain-community==0.0.29
langchain-core==0.1.53
langsmith==0.1.147
libclang==18.1.1
litellm==1.56.8
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
mypy-extensions==1.0.0
namex==0.0.8
networkx==3.4.2
numpy==1.26.4
ollama==0.4.5
openai==1.59.2
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.13
packaging==23.2
pathos==0.3.3
pillow==11.1.0
pox==0.3.5
ppft==1.7.6.9
propcache==0.2.1
protobuf==5.29.2
psutil==6.1.1
pydantic==2.10.4
pydantic_core==2.27.2
Pygments==2.18.0
pypdf==5.1.0
python-dotenv==1.0.1
PyYAML==6.0.2
ray==2.40.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
safetensors==0.5.0
sentry-sdk==2.19.2
setuptools==75.6.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
swarm-models==0.3.0
swarms==6.8.4
sympy==1.13.1
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
tiktoken==0.8.0
tokenizers==0.21.0
toml==0.10.2
torch==2.5.1
tqdm==4.67.1
transformers==4.47.1
tree-of-thoughts==0.6.5
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.0
yarl==1.18.3
zipp==3.21.0
